<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SunDevil Pizza</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <h1
      style="
        color: #a34242;
        font-size: 2rem;
        font-weight: normal;
        margin-top: 3rem;
      "
    >
      SunDevil Pizza
    </h1>
    <div class="links">
      <p style="font-size: 2rem">I am a...</p>
      <a href="/student/login">Student</a>

      <a href="/orderprocessor/login">Order Processor</a>

      <a href="/chef/login">Chef</a>
    </div>
  </body>
</html>
