@import url("/css/styles.css");

/* All styles unique to 404 page */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-body {
  padding: 0 3rem;
  margin-top: 5rem;
}

.main-title {
  color: #a34242;
  font-size: 6.5rem;
  font-weight: 200;
  margin-top: 3rem;
  margin: 0;
  text-align: center;
}

p {
  font-size: 2rem;
  color: var(--maroon);
  font-weight: 400;
  text-align: center;
}
