<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Processor New Orders Page</title>
  <style>
    body {
      margin: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1rem;
    }
    .tabs {
      display: flex;
      gap: 20px;
      margin-bottom: 1rem;
    }
    .tabs a {
      text-decoration: none;
      color: black;
    }
    .tabs a:hover {
      text-decoration: underline;
    }
    .tabs a.selected {
      font-weight: 900;
    }
    .orders {
      display: flex;
      width: 60vw;
      gap: 1rem;
      flex-wrap: wrap;
    }
    .order {
      border: 1px solid black;
      padding: 0rem 1rem;
      width: 150px;
      height: 200px;
      overflow: hidden;
      text-decoration: none;
      color: black;
    }
    .order:hover {
      color: white;
      background: black;
    }
    .order h6 {
      margin: 0;
    }
  </style>

<script src="/NewOrdersPage.js" defer></script>



</head>


<body>


  <div class="tabs">
    <a id="NewOrdersTabs" class="selected"><center>New Orders</center></a>
    <a id="AcceptedOrdersTabs"><center>Accepted Orders</center></a>
    <a id="FinishedOrdersTabs"><center>Finished Orders</center></a>
  </div>

  
  <div class="orders">
  
    <!-- if we have a least one order -->
    <% if (arrayOfOrdersDB.length > 0) { %>
      
      <% arrayOfOrdersDB.forEach(arrayOfOrdersDB => { %>
     
        <!-- each anchor tag is wrapped with a link using its ID FROM MONGO DB -->
        <a class="order" href="/orderprocessor/individual-new-order/<%= arrayOfOrdersDB._id %> ">

          <!-- each anchor tag contains information based on its own object -->

          <p>   <strong>Pick Up Time:</strong><%= arrayOfOrdersDB.pickUpTime %>  </p>
          <p>   <strong>Pizza Type:</strong><%= arrayOfOrdersDB.pizzaType %>   </p>
          <p>   <strong>Toppings</strong><%= arrayOfOrdersDB.toppings %>    </p>
        </a>

        <% }) %> 
    <% } else { %>

      <p>There are no pending Orders to be accepted</p>

      <% } %> 

      
  </div>

</body>
</body>
</html>