@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Regular.woff2") format("woff2");
}
body {
  font-family: Inter;
}

.invisible {
  visibility: hidden;
}

.toppingsDiagram {
  z-index: 1;
}

.pizzaType {
  z-index: 0;
}
