@import url("/css/styles.css");

/* All styles unique to chef orderPage */

body {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  width: 100%;
}

.title {
  margin: 3rem 0;
  padding: 1rem 0;
  margin-top: 0rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  background: var(--maroon);
  color: var(--gold);
}
.orders {
  display: flex;
  width: 900px;
  gap: 1rem;
  flex-wrap: wrap;
  color: var(--gold);
}
.order {
  padding: 0rem 1rem;
  width: 175px;
  height: 200px;
  overflow: hidden;
  text-decoration: none;
  color: black;
  background: rgb(239, 200, 141);
}
.order:hover {
  background: rgb(239, 159, 39);
}
.order h3 {
  font-weight: 400;
  font-size: 1.25rem;
}