<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chef Login Page</title>
  </head>
  <body>
    <h1>Welcome, Chef.</h1>
    <form id="login-form" action="">
      <input type="text" name="username" id="username" placeholder="User ID" />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
      <button name="loginButton" type="submit">Login</button>
    </form>
    <script>
      const loginForm = document.getElementById("login-form");

      loginForm.loginButton.addEventListener("click", async (e) => {
        e.preventDefault();

        const username = loginForm.username.value;
        const password = loginForm.password.value;

        // make request to server to login. we will recieve a response.
        const response = await fetch("/chef/login", {
          method: "POST",
          body: JSON.stringify({ username, password }),
          headers: { "Content-Type": "application/json" },
        });

        // convert the response data into a readable json object
        const data = await response.json();

        if (data.error) {
          document.querySelector("p.error").textContent = data.error;
        }

        if (data.user) {
          window.location.assign("/chef/order-list");
        }
      });
    </script>
  </body>
</html>
