<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Login</title>
    <script
      crossorigin
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
    ></script>
  </head>
  <body>
    <h1>Welcome back, Devil.</h1>
    <form id="student-login-form">
      <input
        type="text"
        name="asuID"
        id="asuID"
        placeholder="Enter ASURITE ID..."
      />
      <button type="submit">Login</button>
    </form>
    <script>
      const studentLoginForm = document.getElementById("student-login-form");

      studentLoginForm.addEventListener("submit", (e) => {
        e.preventDefault();
        const asuID = studentLoginForm.asuID.value;

        axios.post("/student/login", { asuID }).then((response) => {
          console.log(response);
        });
      });
    </script>
  </body>
</html>
