<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Login</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Welcome back, Devil.</h1>
    <form id="student-login-form">
      <input
        type="text"
        name="asuID"
        id="asuID"
        placeholder="Enter ASURITE ID..."
      />
      <button type="submit">Login</button>
    </form>
    <p class="error"></p>
    <p>Click <a href="https://docs.google.com/document/d/16wVwlYFLdoR3FhCw2hppCdV4M2kaN59-p7OZsHdOlvg/edit?usp=sharing">here</a> for sample login details to test the application.</p>
    <script>
      const studentLoginForm = document.getElementById("student-login-form");

      studentLoginForm.addEventListener("submit", async (e) => {
        e.preventDefault();
        const asuID = studentLoginForm.asuID.value;

        // make request to server to login. we will recieve a response.
        const response = await fetch("/student/login", {
          method: "POST",
          body: JSON.stringify({ asuID }),
          headers: { "Content-Type": "application/json" },
        });

        // convert the response data into a readable json object
        const data = await response.json();

        if (data.error) {
          document.querySelector(".error").textContent = data.error;
        }

        if (data.user) {
          location.assign("/student/customize-pizza");
        }
      });
    </script>
  </body>
</html>
