@import url("/css/styles.css");

/* All styles unique to newOrdersPage */

body {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}
.tabs {
  display: flex;
  margin-bottom: 3rem;
}
.tabs a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0.75rem 4.25rem;
  border-bottom: 1px solid var(--maroon);
  cursor: pointer;
}
.tabs .selected, .tabs a:hover {
  font-weight: 700;
  background-color: var(--maroon);
  color: var(--gold);
  transition: background-color 100ms ease-in-out;
}
.orders {
  display: flex;
  width: 900px;
  gap: 1rem;
  flex-wrap: wrap;
}
.order {
  border: 1px solid var(--maroon);
  padding: 0 1rem;
  width: 175px;
  height: 200px;
  overflow: hidden;
  text-decoration: none;
  color: black;
}
.order:hover {
  color: var(--gold);
  background: var(--maroon);
  transition: background-color 100ms ease-in-out;
}

.order h3 {
  font-weight: 400;
  font-size: 1.25rem;
}