@import url("/css/styles.css");

/* All styles unique to newOrdersPage */

body {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}
.tabs {
  display: flex;
  margin-bottom: 3rem;
}
.tabs a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0.5rem 4rem;
  border-bottom: 1px solid var(--maroon);
  cursor: pointer;
}
.tabs a:hover:not(.selected) {
  text-decoration: underline;
}
.tabs .selected {
  font-weight: 700;
  background-color: var(--maroon);
  color: var(--gold);
}
.orders {
  display: flex;
  max-width: 60vw;
  gap: 1rem;
  flex-wrap: wrap;
}
.order {
  border: 1px solid var(--maroon);
  padding: 0 1rem;
  width: 175px;
  height: 200px;
  overflow: hidden;
  text-decoration: none;
  color: black;
}
.order:hover {
  color: var(--gold);
  background: var(--maroon);
}

.order h3 {
  font-weight: 400;
  font-size: 1.25rem;
}