<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Pizza Type</p>
    <br />
    <input type="radio" name="pizzaType" value="" /> Pepperoni<br />
    <input type="radio" name="pizzaType" value="" /> Vegetable<br />
    <input type="radio" name="pizzaType" value="" /> Cheese<br />
    <br />
    <br />
    <p>Toppings</p>
    <input type="checkbox" name="topping" value="" /> Mushroom<br />
    <input type="checkbox" name="topping" value="" /> Onion<br />
    <input type="checkbox" name="topping" value="" /> Olive<br />
    <input type="checkbox" name="topping" value="" /> Extra Cheese<br />

    <form action="pickUpTimePage.html">
      <button type="next">NEXT</button>
    </form>
  </body>
</html>
