<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customize Pizza</title>
    
    <script src="/customizePizza.js" defer></script>
    <link rel="stylesheet" href="/css/student/customizePizzaPage.css">
  </head>



  <body>

    <p class="welcome-text">Welcome, <%= locals.asuID %>.</p>

    <div class="entirePizzaPageDiv">


        <div class="customizePizzaDivForm">
          <form id="customizePizzaForm">

            <div class="pizzaTypeDiv">
              <p>Pizza Type</p>
              <input class="radioBox" type="radio" name="pizzaType" value="Pepperoni"/>Pepperoni<br />
              <input class="radioBox" type="radio" name="pizzaType" value="Vegetable"/>Vegetable<br />
              <input class="radioBox" type="radio" name="pizzaType" value="Cheese"/>Cheese<br />
            </div>

            <div class="toppingsOptionsDiv">
              <p>Toppings</p>
              <input class="checkBox"type="checkbox" name="mushroom" value="" id="mushroom" /> Mushroom<br />
              <input class="checkBox"type="checkbox" name="onions" value="" id="onion"/> Onion<br />
              <input class="checkBox"type="checkbox" name="olive" value="" id="olive"/> Olive<br />
              <input class="checkBox"type="checkbox" name="extraCheese" value="" id="extraCheese"/> Extra Cheese<br />
            </div>
          </form>
        </div>


      <!-- two pizza diagrams change images based on selected toppings/pizzaType -->

      
        <!-- only one image displayed for pizzaType -->
        <div class="pizzaDiagramDiv">
          <img src="/pizzaType/Cheese.png" alt="pizzaType" class="pizzaType">


          <img src="/toppings/mushroom.png" id="mushroom-img" alt="topping" class="topping mushroom invisible">
          <img src="/toppings/onions.png" id="onions-img" alt="topping" class="topping onion invisible">
          <img src="/toppings/olives.png" id="olives-img" alt="topping" class="topping olive invisible">

            <!-- need to save object of pizza created to continue -->
          <button class="next-btn" id="nextBtn"type="next"><b>Next</b></button>


         </div>
    </div>
  </body>


</html>
