<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- script Page -->
    <script src="/pickUpTimePage.js" defer></script>
    <link rel="stylesheet" href="/css/student/pickUpTimePage.css" />
  </head>

  <body>
    <p class="welcome-text">Welcome, <%= locals.asuID %>.</p>
    <h1 class="title">When is a good pick-up time?</h1>
    <div class="time-select">
      <select name="hourTime" class="hour-select" id="hourTime">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>

      <b>:</b>

      <select name="minuteTime" class="minute-select" id="minuteTime">
        <option value="00">00</option>
        <option value="05">05</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
        <option value="30">30</option>
        <option value="35">35</option>
        <option value="40">40</option>
        <option value="45">45</option>
        <option value="50">50</option>
        <option value="55">55</option>
      </select>

      <select name="amPm" id="amPm">
        <option value="am">AM</option>
        <option value="pm">PM</option>
      </select>
    </div>

    <button class="next-btn" id="nextBtnpickTime" type="next">Next</button>
  </body>
</html>
