<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- script Page -->
    <script src="/pickUpTimePage.js" defer></script>

  </head>
  
  <body>
    <h1><center>When is a good pick-up time?</center></h1>

    <br />
    <br />
    <center>
      <select name="hourTime" id="hourTime">
        <option value="01h">1</option>
        <option value="02h">2</option>
        <option value="03h">3</option>
        <option value="04h">4</option>
        <option value="05h">5</option>
        <option value="06h">6</option>
        <option value="07h">7</option>
        <option value="08h">8</option>
        <option value="09h">9</option>
        <option value="10h">10</option>
        <option value="11h">11</option>
        <option value="12h">12</option>
      </select>

      <b>:</b>

      <select name="minuteTime" id="minuteTime">
        <option value="00m">00</option>
        <option value="05m">05</option>
        <option value="10m">10</option>
        <option value="15m">15</option>
        <option value="20m">20</option>
        <option value="25m">25</option>
        <option value="30m">30</option>
        <option value="35m">35</option>
        <option value="40m">40</option>
        <option value="45m">45</option>
        <option value="50m">50</option>
        <option value="55m">55</option>
      </select>

      <select name="amPm" id="amPm">
        <option value="am">AM</option>
        <option value="pm">PM</option>
      </select>

      <br />
      <br />


    <button id="nextBtnpickTime"type="next">NEXT</button>

    </center>
  </body>
</html>
