<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/specialInstructions.js" defer></script>
    <link rel="stylesheet" href="/css/student/specialInstructions.css">
  </head>


  <body>
    <p class="welcome-text">Welcome, <span id="asuID"><%= locals.asuID %></span>.</p>
    <h1 class="title">Any Special Instructions?</h1>

        <textarea
          name="specialInstructions"
          id="specialInstructions"
          cols="50"
          rows="10"
          placeholder="Enter special instructions..."
        >
        </textarea>
        
        <br />

        <div class="buttons">
          <button class="next-btn" id="nextBtn" type="next">Next</button>
        </div>
  </body>
</html>
