@import url("/css/styles.css");

/* All styles unique to customizePizzaPage */

.invisible {
  visibility: hidden;
}

.entirePizzaPageDiv {
  font-family: Inter;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  width: 100%;
}

.customizePizzaDivForm {
  width: 30%;
  background-color: maroon;
  color: white;
  padding-left: 10%;
  padding-top: 10%;
  color: yellow;
  font-size: 1.5rem;
  }



/* both of these inside customizePizzaDivForm */
/* .pizzaTypeDiv {
  display: block;
  margin-top: 100%;
}

.toppingsOptionsDiv {
  display: block;
  margin-bottom: 100%;
} */

.pizzaDiagramDiv {
  display: grid;
  place-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* all of this is inside pizzaDiagramDiv */
.pizzaType {
  z-index: 0;
  width: 50%;
}

.topping {
  position: absolute;
  z-index: 1;
  width: 50%;
}

.next-btn {
  position: absolute;
  bottom: 2.5rem;
  right: 5rem;
  background-color: maroon;
  color: yellow;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 100rem;
  font-size: 1rem;
  font-weight: 600;
}


input[type=checkbox] {
    accent-color: maroon;
  }
  input[type=radio] {
    accent-color: maroon;
  }