@import url("/css/styles.css");

/* All styles unique to orderSummaryPage */

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcome-text,
.title {
  color: var(--maroon);
}

.welcome-text {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  margin: 0;
}

.title {
  margin: 3rem 0;
  margin-top: 5rem;
  font-weight: 300;
  text-align: center;
}

.order-detail {
  font-size: 1.25rem;
  margin: 0;
  margin-bottom: 1.5rem;
}

.buttons {
  margin-top: 3rem;
}

.edit-btn {
  margin-right: 2.5rem;
  padding: 0.75rem 2.5rem;
  border-radius: 100rem;
  font-weight: 700;
  border: 1px solid black;
  font-size: 1rem;
  background: white;
  font-size: 1.25rem;
}

.submit-btn {
  padding: 0.75rem 2.5rem;
  border-radius: 100rem;
  font-weight: 700;
  border: none;
  font-size: 1rem;
  background: var(--maroon);
  color: var(--gold);
  font-size: 1.25rem;
}

.submit-btn:hover{
  background: var(--gold);
  color: var(--maroon);
}

.edit-btn:hover{
  color: white;
  background: rgb(0, 0, 0);
}